// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.stily

{
	background: #CD5C5C;
	width: 400px;
}

.form-group
{
	background: #FF6347;
	width: 400px;
}

.top
{
	background: #9ACD32;
	width: 300px;
}

.back
{
	padding-top: 50px;
	background: #FEF496;
}